*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}



#Discount
{
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    /* padding-left: 40%; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}


#navbar
{
    align-items: center;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#nav_icon
{
    align-items: center;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.table
{
    background-color: white;
    color: black;
    padding: 20px;
}

#navbar ul

{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
#parant_navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;  
    position: static;
}

.button
{
    font-size: 20px;
    border-radius: 10px;
}

.btn{
    /* padding: 10px; */
    font-size: 20px;
    margin-left: 60px;
    border-radius: 10px;
}
#myorder
{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#perfumebar1
{
    /* font-family: "Pacifico", serif; */
    font-size: 15px;
}

#perfumebar1 p
{
    backdrop-filter: blur(5px);
}
#perfumebar1 img
{
    border-radius: 10px;
}

#perfumebar1 img:hover
{
    scale: 1.1;
    display: block;
    box-shadow: 2px 2px 2px 4px white;
    transition: all .3s;
}
.button
{
    margin-left: 110px;
    /* display: none; */
    font-size: 20px;
    padding: 10px;
}

#perfumebar_common
{
    display: flex;
    justify-content: space-evenly;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
}

#art
{
    padding: 20px;
    background-color: black;
    padding-top: -300px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 20px;
    /* flex-wrap: wrap; */
}

#art p
{
    padding: 30px;
    font-size: 20px;
}



.mid_div
{
    background-image: url(perfume_for_show.jpg);
    padding: 70px 200px;
    color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* font-weight: ; */
}


/* //footer */

#footer
{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 30px;
    padding-bottom: 100px;
    background-image: url(perfume_footer.jpg);
    color: white;
    /* flex-wrap: wrap; */
}

#footer_icons
{
    gap: 30px;
    font-size: 30px;
}


.mid_div
{
    font-size: 20px;
}

/* perfume_information */
#pi_top
{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

#pi_top2
{
    font-size: 15px;
}

#pi_button
{
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
}




#pi_button1
{
    font-size: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#pi_button2
{
    font-size: 40px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

#discription p
{
    font-size: 20px;
}


@media screen and (min-width: 200px) and (max-width:700px)
{
    #navbar ul
    {
        display: none;
    }

    perfumebar1 img
    {
        width: 30px;
        height: 30px;
    }

    art img
    {
        width: 50px;
        height: 50px;
    }

    /* #perfumebar1 img
    {
        width: 200px;
    } */

    #perfumebar_common
    {
        flex-wrap: wrap;
    }

    #art
    {
        flex-wrap: wrap;
    }

    #footer
    {
        flex-wrap: wrap;
    }

    #mid_div
    {
        
    }
}


/* signup form */

body
{
    background-image: url(perfume_bg.jpg);
    color: rgb(13, 13, 13);
    font-weight: 200;
    /* background-position: center; */
    background-size: cover;
    overflow-x: hidden;
    background-blend-mode: lighten;
}

#signupform
{
    align-items: center;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 400px;
    /* margin-top: 10%; */
    /* box-shadow: 0px 2px 0px 3px black; */
    padding: 40px;
    background-color: #FFF6B3;
    border-radius: 10px;
    color: black;
}

#signupform button
{
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}
#signupform input
{
    font-size: 20px;
    padding: 5px;
}


#login_form
{
    align-items: center;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 400px;
    /* margin-top: 10%; */
    /* box-shadow: 0px 2px 0px 3px black; */
    padding: 40px;
    background-color: #FFF6B3;
    color: black;

}

#login_form input
{
    font-size: 20px;
    padding: 5px;
}


#login_form button
{
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}

h1{
    /* margin-top: 80px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
}


/* perfume form  */

#perfume_form
{
    align-items: center;
    border: 2px white;
    background-color: whitesmoke;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    /* margin-top: 100px; */
   
}

#perfume_form form
{
    font-size: 20px;
}

#perfume_form button
{
    font-size: 20px;
    margin-bottom: 30px;
}

#perfume_form form input
{
    font-size: 20px;
}

#form_body
{
    background-image: url(perfume_form1.jpg);
}

#card_type
{
    font-size: 20px;
}
.table button{
    padding: 8px 12px;
    border-radius: 6px;
    /* border: none; */
}
.table button:hover{
    padding: 8px 12px;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.799) ;
    color: white;
}

#table_data
{
    background-image: url(table_background.jpg);
}

.table tr:nth-child(even){
    background-color: lightgray;
    
}
.table thead{
    background-color: gray;
    color: white;
}


#logo img
{
    border-radius: 40px;
}